{
  "extends": "airbnb",
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "space-infix-ops": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "no-else-return": 0,
    "no-param-reassign": 0,
    "semi": [2, "never"],
    "func-names": 0,
    "space-before-function-paren": 0,
    "new-cap": 0,
    "prefer-arrow-callback": 0,
    "guard-for-in": 0,
    "arrow-body-style": 0,
    "indent": 0,
    "no-new-func": 0,
  }
}